<!DOCTYPE html>
<html ng-app="hawkins">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Hawkins</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/ionic/1.0.0-beta.14/css/ionic.min.css" rel="stylesheet">
  <script src="//cdnjs.cloudflare.com/ajax/libs/ionic/1.0.0-beta.14/js/ionic.bundle.min.js"></script>
  <script src="//cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

  <link href="/stylesheets/application.css" rel="stylesheet">
  <script src="/javascripts/ansi_to_html.js"></script>
  <script src="/javascripts/application.js"></script>
</head>

<body ng-controller="BuildsCtrl">
<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar></ion-nav-bar>
    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu expose-aside-when="large" width="360">
    <ion-header-bar class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Filter..." ng-model="filter">
      </label>
    </ion-header-bar>

    <ion-content>
      <ion-list show-delete="isDeleting">
        <div class="item item-divider" ng-if="pushes.length">Queue</div>
        <ion-item menu-close class="item-avatar item-icon-right" ng-repeat="push in pushes | reverse | filter:filter">
          <img ng-src="https://avatars.githubusercontent.com/{{::push.head_commit.author.username}}"/>
          <h2>{{::push.head_commit.message}}</h2>
          <p>{{::push.ref | branch}}</p>
        </ion-item>
        <div class="item item-divider" ng-if="builds.length">Builds</div>
        <ion-item menu-close class="item-avatar item-icon-right" ng-class="{assertive: build.status == 'failed'}"
                  ng-repeat="build in builds | reverse | filter:filter track by build.$id"
                  ui-sref="show({id: build.$id})" ui-sref-active="active">
          <ion-delete-button class="ion-minus-circled" ng-click="remove(build)"></ion-delete-button>
          <img ng-src="https://avatars.githubusercontent.com/{{::build.push.head_commit.author.username}}"/>
          <h2>{{::build.push.head_commit.message}}</h2>
          <p>{{::build.push.ref | branch}}</p>
          <i class="icon" ng-class="statusIcon(build.status)" ng-if="build.status"></i>
        </ion-item>

      </ion-list>
    </ion-content>

    <ion-footer-bar>
      <button class="button button-icon icon ion-ios7-minus-outline" ng-click="isDeleting = !isDeleting"></button>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
</body>
</html>
