<ion-header-bar>
  <button ng-click="rebuild()" class="button button-positive">Rebuild</button>
  <h1 class="title">{{build.repository.name}}/{{build.branch}}</h1>
  <button ng-click="remove(build)" class="button button-assertive">Remove</button>
</ion-header-bar>

<ion-content class="output" scroll="false" autoscroll="autoscroll">
  <pre><code ng-repeat="chunk in log track by chunk.$id" ng-bind-html="::chunk.$value | ansiHtml"></code></pre>
</ion-content>

<ion-footer-bar>
  <h1 ng-if="build.finishedAt" class="title" ng-bind=":: build.finishedAt - build.startedAt | time"></h1>
  <h1 ng-if="!build.finishedAt" class="title"><timer start-time="build.startedAt">{{time | time}}</timer></h1>
</ion-footer-bar>
